<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboard.css">
    <title>Spotify Data App</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>

</head>
<body>
      <!--  <% %> Are EJS tags  -->
    <h1>Welcome <%= user.display_name %>! <br>
        <img src="<%= user.images[1].url %>" alt="User Image">
    </h1>
        <a href="/authorize">Log in</a>

    <!-- User's Top Tracks: Last Month -->
    <h6> Top Tracks: Last Month </h6>
    <ol>
        <% for (let t of topTracks.items) { %>
                <li>  Track: <%= t.name %>  </li>
        
        <% } %> 
    </ol>

    <!-- User's Top Artists: Last Month -->
    <h6> Top Artists: Last Month </h6>
        <ol>
        <% for (let a of topArtists.items) { %>
            
                <li>  Artist: <%= a.name %>  </li>
        
        <% } %> 
    </ol>

    <!-- User's Top Genre's: Last Month-->

    <!-- Initialize Array with user's top genres of the month-->
    <% let genreArray = []; %> 
    <% for (let a of topGenres.items) { %>
        <% for (let g of a.genres) { %>
            <% genreArray.push(g); %>
        <% } %> 
    <% } %> 
    <!-- Iterator for the map-->
    <% let iterator = [] %>
    <% let iteratorDestination = [] %>
    <% let genresWithPercentages = []; %>
    <h6> Top Genres: Last Month</h6>
    

    <% printTopGenres(genreArray) %>
    <div id="mydiv" data-test="<%= iterator %>"></div>
 

    <!-- Custom comparator function to sort by frequency -->
    <% function compareGenreFrequency(genre, comparedGenre) { %>
        <!-- [0] = frequency [1] == item -->
        <!-- Checks if frequency is less, genre to be sorted after comparedGenre -->
        <% if (genre[0] < comparedGenre[0]) { %>
            <% return 1; %>
        <!-- Checks if frequency is greater, genre to be sorted before comparedGenre-->
        <% } else if (genre[0] > comparedGenre[0]) { %>
            <% return -1; %>
        <!-- If equal frequency, compares lexicographically. A > Z -->
        <% } else if (genre[0] === comparedGenre[0]) { %>
            <% if (genre[1] < comparedGenre[1]) { %>
                <% return -1; %>
            <% } else { %>
                <% return 1; %>
            <% } %>     
        <% } %>  
    <% } %>  

    <!-- Prints frequency of genres listened to in descending order -->

    <% function printTopGenres(genreArray) { %>

        <!-- Create map to hold all of genres and their frequencies -->
        <% let genreDictionary = {}; %>

        <!-- Set all frequency of genres to zero -->
        <% for (i = 0; i < genreArray.length; i++) { %>
            <% genreDictionary[genreArray[i]] = 0 %>
        <% } %>

        <!-- Loop to store frequency of genre in map-->
        <% for (i = 0; i < genreArray.length; i++) { %>
            <% genreDictionary[genreArray[i]]++; %>
        <% } %>

        <!-- Sets length of iterator to genre array length -->
        <% iterator.length = genreArray.length %>

        <!-- Store an empty array for each array element-->
        <% for (i = 0; i < genreArray.length; i++) { %>
            <% iterator[i] = []; %>
        <% } %>

        <!-- Loop to store frequency and string in iterator -->
        <% let j = 0; %>
        <% for (let item in genreDictionary) { %>

            <!--iterator[] holds frequency and genre-->
            <% iterator[j] = [genreDictionary[item], item]; %>

            <!-- Next index-->
            <% j += 1; %>
        <% } %>

        <!-- Sort using custom comparator function -->
        <% iterator.sort(compareGenreFrequency); %>

        // Loop to calculate percentages and populate the new array
       
           <% for (let i = 0; i < j; i++) {
                const genre = iterator[i][1];
                const percentage = (iterator[i][0] / genreArray.length * 100).toFixed(2);
                genresWithPercentages.push({ genre, percentage });
           } %>



        <!-- Print genres in order of frequency-->
        <ol>
            <% for (let i = 0; i < j; i++) { %>
                
                <li><%="Genre: " + iterator[i][1] %></li>
            <% } %>
        </ol>

        <!-- Print genres represented as a percentage of their frequency -->
        <ol>
            <% for (let i = 0; i < j; i++) { %>
                <li> <%="Genre: " + iterator[i][1] + ", " + (iterator[i][0] / genreArray.length * 100).toFixed(2) + "%" %> </li>
            <% } %>
        </ol>
    <% } %>


    <div id="pie-chart-container">
        <!-- aria-label and role are for accessibility -->
        <canvas id="pie-chart" aria-label="Pie Chart Displaying Top Genres" role="img"></canvas>
    </div>
    
   <!-- Chart -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

/** Critical step** - converts array into string and back into array. Cannot simply use iterator array from above to get data. EJS processes on the server first before html is sent to the client, while the script is client side. Client side is unable to understand the raw meaning of 'iterator' **/
let dataArr =  <%-JSON.stringify(iterator)%>;
let percentArr = <%-JSON.stringify(genresWithPercentages)%>;

        const ctx = document.getElementById('pie-chart');

        const dataLabels = [dataArr[0][1], dataArr[1][1], dataArr[2][1], dataArr[3][1], dataArr[4][1], dataArr[5][1]];

        const dataValues = [percentArr[0].percentage, percentArr[1].percentage, percentArr[2].percentage, percentArr[3].percentage, percentArr[4].percentage, percentArr[5].percentage];

        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: dataLabels,
                datasets: [{
                    backgroundColor: ["#e63946", "#254BDD", "#ffbe0b", "#1d3557", "#326998"],
                    label: "Percentage of artists' genres",
                    data: dataValues,
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Top Genres'
                    },
                }
            }
        });
</script>